<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.scss') }}">
    <meta charset="UTF-8">
    <title>{{ company.title() }}</title>
</head>
<body>




<nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container "><a id="logo-container" href="#" class="brand-logo">Company Review</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">More Info</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#my-footer">More Info</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


 <div class="container">
    <div class="section">

      <!--   Icon Section   -->
       <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">{{ company.title() }} Summary</h5>

            <img class="responsive-img" src="/static/images/{{ company }}_summary_cleaned.jpg" >
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">{{ company.title() }} Pros</h5>

            <img class="responsive-img" src="/static/images/{{ company }}_pros_cleaned.jpg" >
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">{{ company.title() }} Cons</h5>

            <img class="responsive-img" src="/static/images/{{ company }}_cons_cleaned.jpg" >
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
<body>
<h3>Pros</h3>

{% for pro in pro_list %}
<li>{{ pro }}</li>
{% endfor %}

<h3>Cons</h3>
{% for con in con_list %}
<li>{{ con }}</li>
{% endfor %}
</body>

 <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About the project</h5>
          <p class="grey-text text-lighten-4">We are a team of programmers, data scientists, and QAs driven by the power of technology and data. We joined forces through Code G's first intermediate bootcamp to learn Python and enhance our web development skills so that we can use technology to change the world for the better.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Resources</h5>
          <ul>
            <li><a class="white-text" href="https://www.kaggle.com/petersunga/google-amazon-facebook-employee-reviews/home">Kaggle dataset</a></li>
            <li><a class="white-text" href="https://girlsintech.org">Girls in Tech</a></li>
            <li><a class="white-text" href="http://flask.pocoo.org">Flask</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contributors</h5>
          <ul>
            <li>Kaye Wu<a class="white-text" href="#!"></a></li>
            <li>Namibia Torres<a class="white-text" href="#!"></a></li>
            <li>Nataly Costa<a class="white-text" href="#!"></a></li>
            <li>Paige Taylor<a class="white-text" href="#!"></a></li>
            <li>Rajasree Rajendran<a class="white-text" href="#!"></li>
            <li>Senay Yakut<a class="white-text" href="#!"></li>
            <li>Vivian Poon<a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="my-footer" class="footer-copyright">
      <div class="container">
        Made with <i class="material-icons">local_cafe</i> and <i class="material-icons"> favorite</i>
      </div>
    </div>
  </footer>
</body>

</html>