<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.scss') }}">
  <title>CODEGIT Project</title>
</head>
<body>
  <nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container "><a id="logo-container" href="#" class="brand-logo">Company Review</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">More Info</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">More Info</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container first">
      <br><br>
      <h2 class="header center orange-text">Search for a company</h2>
      <div class="row center">
        <h5 class="header col s12 light">Data analysis of Kaggle Dataset containing employee reviews from Facebook, Google, Apple, Amazon and Microsoft.</h5>
      </div>
      <div class="row center">
          <div class="search-input">
              <form action="/wordcloud">
            <input type="text" name=company>
                  <br>
{#                  <input type=submit>#}
              </form>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Search here</label>
            <span class="glyphicon glyphicon-search"><i class="material-icons">search</i></span>
            <span class="glyphicon glyphicon-remove"><i class="material-icons">clear</i></span>
          </div>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
       <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">show_chart</i></h2>
            <h5 class="center">Use data to drive your job search</h5>

            <p class="light">
              With our algorithm, you can can see how employees rate their companies, and share honest feedback about what it will be like working there.
              Your time is valuable, don't waste it at the wrong company.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Culture focused</h5>

            <p class="light"> Find the company with the right culture fit and teams that make getting up in the morning worthwhile.
              </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to navigate UI</h5>

            <p class="light">Our user interface makes it easy for you to view and understand data about top companies so that you can make informed decisions about where you want to work.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About the project</h5>
          <p class="grey-text text-lighten-4">We are a team of programmers, data scientists, and QAs driven by the power of technology and data. We joined forces through Code G's first intermediate bootcamp to learn Python and enhance our web development skills so that we can use technology to change the world for the better.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Resources</h5>
          <ul>
            <li><a class="white-text" href="https://www.kaggle.com/petersunga/google-amazon-facebook-employee-reviews/home">Kaggle dataset</a></li>
            <li><a class="white-text" href="https://girlsintech.org">Girls in Tech</a></li>
            <li><a class="white-text" href="http://flask.pocoo.org">Flask</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contributors</h5>
          <ul>
            <li>Kaye Wu<a class="white-text" href="#!"></a></li>
            <li>Namibia Torres<a class="white-text" href="#!"></a></li>
            <li>Nataly Costa<a class="white-text" href="#!"></a></li>
            <li>Paige Taylor<a class="white-text" href="#!"></a></li>
            <li>Rajasree Rajendran<a class="white-text" href="#!"></li>
            <li>Senay Yakut<a class="white-text" href="#!"></li>
            <li>Vivian Poon<a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made with <i class="material-icons">local_cafe</i> and <i class="material-icons"> favorite</i>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{url_for('static', filename='js/search.js')}}"></script>
</body>

</html>
